.xo-bundle-combo__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 3.2rem;
}
.xo-bundle-combo__heading .xo-text__heading {
  justify-content: center;
}
@media (min-width: 992px) {
  .xo-bundle-combo__heading {
    padding-bottom: 4.8rem;
  }
}
@media (min-width: 1400px) {
  .xo-bundle-combo__heading {
    padding-bottom: 5.6rem;
  }
}
.xo-bundle-combo__description {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.8 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  text-align: center;
  padding-bottom: 1rem;
}
.xo-bundle-combo__trigger-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.xo-bundle-combo__title-wrap {
  gap: 0.4rem;
  padding: 0.5rem;
}
.xo-bundle-combo__trigger {
  position: relative;
  z-index: 1;
  padding: 0.4rem 1rem;
  min-width: 10rem;
  background-color: color-mix(in srgb, rgba(var(--color-layer)) calc(0.2 * 100%), transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  overflow: hidden;
}
.xo-bundle-combo__trigger::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-color: color-mix(in srgb, rgba(var(--color-layer)) calc(1 * 100%), transparent);
  border-radius: 0;
  transition: all 0.5s cubic-bezier(0.25, 0.74, 0.22, 0.99) 0.05s, border-radius 0.5s cubic-bezier(0.25, 0.74, 0.22, 0.99) 0.22s;
}
[dir=ltr] .xo-bundle-combo__trigger::before {
  left: 50%;
  transform: translate(-50%, 0);
}
[dir=rtl] .xo-bundle-combo__trigger::before {
  right: 50%;
  transform: translate(50%, 0);
}
.xo-bundle-combo__trigger[xo-active]::before, .xo-bundle-combo__trigger:hover::before {
  width: 101%;
  height: 101%;
  padding-top: 0;
  border-radius: 0;
  top: 0;
}
[dir=ltr] .xo-bundle-combo__trigger[xo-active]::before, [dir=ltr] .xo-bundle-combo__trigger:hover::before {
  transform: translate(-50%, 0);
}
[dir=rtl] .xo-bundle-combo__trigger[xo-active]::before, [dir=rtl] .xo-bundle-combo__trigger:hover::before {
  transform: translate(50%, 0);
}
.xo-bundle-combo__trigger[xo-active] .xo-bundle-combo__trigger-text, .xo-bundle-combo__trigger:hover .xo-bundle-combo__trigger-text {
  text-shadow: 0 -3rem 0 transparent, 0 0 0 color-mix(in srgb, rgba(var(--color-button-text)) calc(1 * 100%), transparent);
  color: transparent;
}
.xo-bundle-combo__trigger-text {
  color: color-mix(in srgb, rgba(var(--color-button-text)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.3rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}
.xo-bundle-combo__content {
  padding: 3.4rem 3.2rem 3.7rem 3.2rem;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  overflow: hidden;
}
.xo-bundle-combo__wrapper {
  padding: 1.8rem 0 2.8rem 0;
  border-bottom: 0.1rem solid rgba(var(--color-border), 0.1);
}
.xo-bundle-combo__product {
  height: 100%;
}
.xo-bundle-combo__bottom {
  width: 100%;
  padding-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
@media (min-width: 992px) {
  .xo-bundle-combo__bottom {
    gap: 2.4rem;
  }
}
@media (min-width: 1400px) {
  .xo-bundle-combo__bottom {
    gap: 3rem;
    padding-top: 3rem;
  }
}
.xo-bundle-combo__bottom-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.6rem;
}
.xo-bundle-combo__wrap-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}
.xo-bundle-combo__total-price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.xo-bundle-combo__total-label {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.5 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
}
.xo-bundle-combo__price-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}
.xo-bundle-combo__price {
  font-weight: 500;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.6rem);
  line-height: calc(1 + 0.38 / var(--font-body-scale));
}
@media (min-width: 992px) {
  .xo-bundle-combo__price {
    font-size: calc(var(--font-body-scale) * 1.8rem);
    line-height: calc(1 + 0.42 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.018rem);
  }
}
.xo-bundle-combo__price--compare {
  text-decoration: line-through;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.5 * 100%), transparent);
}
.xo-bundle-combo__product-content, .xo-bundle-combo__placeholder {
  display: contents;
}
.xo-bundle-combo__placeholder-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  border: 0.1rem dashed rgba(var(--color-border), 0.1);
}
@media (min-width: 992px) {
  .xo-bundle-combo__placeholder-item {
    width: 7.5rem;
    height: 7.5rem;
  }
}
.xo-bundle-combo__discount-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.xo-bundle-combo__discount-item {
  position: relative;
  z-index: 1;
  min-width: 6rem;
  padding: 0.4rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.2rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  white-space: nowrap;
  text-align: center;
  background-color: color-mix(in srgb, rgba(var(--color-button)) calc(0.4 * 100%), transparent);
  transition: all 0.3s;
  overflow: hidden;
}
@media (min-width: 768px) {
  .xo-bundle-combo__discount-item {
    font-size: calc(var(--font-body-scale) * 1.3rem);
    min-width: 10rem;
  }
}
@media (min-width: 1800px) {
  .xo-bundle-combo__discount-item {
    padding: 0.4rem 2rem;
  }
}
.xo-bundle-combo__discount-item::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  border-radius: 0;
  transition: all 0.5s cubic-bezier(0.25, 0.74, 0.22, 0.99) 0.05s, border-radius 0.5s cubic-bezier(0.25, 0.74, 0.22, 0.99) 0.22s;
}
[dir=ltr] .xo-bundle-combo__discount-item::before {
  left: 50%;
  transform: translate(-50%, 0);
}
[dir=rtl] .xo-bundle-combo__discount-item::before {
  right: 50%;
  transform: translate(50%, 0);
}
.xo-bundle-combo__discount-label {
  color: rgba(var(--color-foreground), 0.6);
}

.xo-bundle-combo__discount-item[xo-qualified]::before {
  width: 101%;
  height: 101%;
  padding-top: 0;
  border-radius: 0;
  top: 0;
}
[dir=ltr] .xo-bundle-combo__discount-item[xo-qualified]::before {
  transform: translate(-50%, 0);
}
[dir=rtl] .xo-bundle-combo__discount-item[xo-qualified]::before {
  transform: translate(50%, 0);
}
.xo-bundle-combo__discount-item[xo-qualified] .xo-bundle-combo__discount-label {
  text-shadow: 0 -3rem 0 transparent, 0 0 0 color-mix(in srgb, rgba(var(--color-button-text)) calc(1 * 100%), transparent);
  color: transparent;
}

.xo-bundle-combo--radius .xo-bundle-combo__title-wrap {
  border-radius: 4rem;
}
.xo-bundle-combo--radius .xo-bundle-combo__content {
  border-radius: 2rem;
}
.xo-bundle-combo--radius .xo-bundle-combo__trigger {
  border-radius: 1.7rem;
}
.xo-bundle-combo--radius .xo-bundle-combo__discount-item {
  border-radius: 1.7rem;
  overflow: hidden;
}