.combo-product {
  width: 100%;
  height: 100%;
  padding: 4rem 0 2.3rem 0;
}
@media (min-width: 768px) {
  .combo-product {
    padding: 4.2rem 0;
  }
}
@media (min-width: 1400px) {
  .combo-product {
    padding: 7.2rem 0 10.5rem 0;
  }
}

.combo-product__grid,
.combo-product__inner {
  height: 100%;
}

.combo-product__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15rem;
}
@media (min-width: 768px) {
  .combo-product__inner {
    gap: 7.2rem;
  }
}
@media (min-width: 992px) {
  .combo-product__inner {
    gap: 4.7rem;
  }
}

.combo-product__heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.combo-product__heading .xo-text__heading {
  justify-content: center;
  text-align: center;
}

.combo-product__content {
  width: 100%;
  padding: 1.6rem 1.4rem;
}
@media (min-width: 992px) {
  .combo-product__content {
    padding: 1.7rem 2.7rem 2.7rem 2.7rem;
  }
}

.combo-product__content--radius {
  border-radius: 1.6rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .combo-product__slide:first-child .combo-product__item {
    padding-inline-end: 2.2rem;
    border-inline-end: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
  }
  .combo-product__slide:last-child .combo-product__item {
    padding-inline-start: 2.2rem;
  }
}

.combo-product__item {
  height: 100%;
  padding-bottom: 2rem;
}
@media (min-width: 992px) {
  .combo-product__item {
    padding-bottom: 2.6rem;
  }
}

.combo-product__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.combo-product__product-media {
  max-width: 21.6rem;
  height: auto;
}
@media (min-width: 768px) {
  .combo-product__product-media {
    max-width: 25.8rem;
  }
}
@media (min-width: 992px) {
  .combo-product__product-media {
    max-width: 37.7rem;
  }
}

.combo-product__product-title {
  display: block;
  width: 100%;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 2rem);
  line-height: calc(1 + 0.05 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.02rem);
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
}

.combo-product__product-variant {
  padding-top: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.combo-product__product-variant .xo-product-variant__top {
  justify-content: center;
}
.combo-product__product-variant .xo-product-variant__inner-name,
.combo-product__product-variant .xo-product-variant__top-name {
  padding-bottom: 0.8rem;
  color: rgba(var(--color-foreground), 0.5);
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: 500;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  text-transform: uppercase;
  justify-content: center;
}
.combo-product__product-variant .xo-product-variant__value-selected {
  display: none;
}
.combo-product__product-variant .xo-field-select-custom__label {
  text-transform: capitalize;
}

.combo-product__bottom {
  width: 100%;
  padding-top: 2rem;
  border-top: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 992px) {
  .combo-product__bottom {
    padding-top: 2.6rem;
    gap: 2.5rem;
  }
}

.combo-product__product-price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 2rem);
  font-weight: 500;
  line-height: calc(1 + 0.05 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.02rem);
}

.combo-product__price-original {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.3 * 100%), transparent);
  text-decoration: line-through;
}

.combo-product__button {
  width: 100%;
  display: block;
}

.combo-product__button-add {
  display: block;
  width: 100%;
}
.combo-product__button-add[xo-disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}