.featured-product-2 {
  width: 100%;
  height: 100%;
  padding: 4.2rem 0 3rem 0;
}
@media (min-width: 992px) {
  .featured-product-2 {
    padding: 6.2rem 0 4.2rem 0;
  }
}
@media (min-width: 1200px) {
  .featured-product-2 {
    padding: 8.2rem 0 5.2rem 0;
  }
}
@media (min-width: 1600px) {
  .featured-product-2 {
    padding: 11rem 0 8rem 0;
  }
}

.featured-product-2__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
}

.featured-product-2__grid {
  width: 100%;
}

.featured-product-2__top {
  text-align: center;
}
.featured-product-2__top .xo-text__heading {
  justify-content: center;
  text-align: center;
}

.featured-product-2__sub-content {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.6 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  word-break: break-word;
  word-wrap: break-word;
  padding-top: 0.5rem;
}
@media (min-width: 768px) {
  .featured-product-2__sub-content {
    padding-top: 0.7rem;
  }
}

.featured-product-2__content {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 2rem);
  line-height: calc(1 + 0.1 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.02rem);
  word-break: break-word;
  word-wrap: break-word;
  padding-top: 0.4rem;
}

.featured-product-2__product-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 2.3rem 1.3rem 1.3rem 1.3rem;
}
@media (min-width: 768px) {
  .featured-product-2__product-wrap {
    padding: 3.7rem 1.6rem 1.6rem 1.6rem;
  }
}

.featured-product-2__product-wrap--radius {
  border-radius: 1.6rem;
  overflow: hidden;
}

.featured-product-2__product-title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 2rem);
  line-height: calc(1 + 0.05 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.02rem);
  word-break: break-word;
  word-wrap: break-word;
}

.featured-product-2__product-description {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.6 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  word-break: break-word;
  word-wrap: break-word;
}

.featured-product-2__product-variant {
  padding-top: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.featured-product-2__product-variant .xo-product-variant__top {
  justify-content: center;
}
.featured-product-2__product-variant .xo-product-variant__inner-name,
.featured-product-2__product-variant .xo-product-variant__top-name {
  padding-bottom: 0.8rem;
  color: rgba(var(--color-foreground), 0.5);
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: 500;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  text-transform: uppercase;
  justify-content: center;
}
.featured-product-2__product-variant .xo-product-variant__value-selected {
  display: none;
}
.featured-product-2__product-variant .xo-field-select-custom__label {
  text-transform: capitalize;
}

.featured-product-2__product-price {
  padding-top: 1.2rem;
}
.featured-product-2__product-price .xo-price {
  align-items: center;
  justify-content: center;
}
.featured-product-2__product-price .xo-price__sale {
  align-items: center;
  gap: 0.4rem;
  padding: 0;
}
.featured-product-2__product-price .xo-price__item {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.7rem);
  font-weight: 500;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.034rem);
}
.featured-product-2__product-price .xo-price__item--del {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.3 * 100%), transparent);
}

.featured-product-2__button {
  padding-top: 1rem;
  width: 100%;
}

.featured-product-2__button-add {
  width: 100%;
}

.featured-product-2__button-add[xo-disabled] {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}
.featured-product-2__button-add[xo-disabled] .xo-btn {
  pointer-events: none;
  cursor: not-allowed;
}