.img-with-text-7 {
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
}
.img-with-text-7:hover img {
  transform: scale(1.05);
}

.img-with-text-7__wrap {
  width: 100%;
  height: 100%;
}

.img-with-text-7__link {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.img-with-text-7__image {
  width: 100%;
  height: 100%;
}
.img-with-text-7__image img {
  will-change: transform;
  transition: all 0.5s ease;
}

.img-with-text-7__image--radius {
  border-radius: 1rem;
  overflow: hidden;
}

.img-with-text-7__image--desktop {
  display: none;
}
@media (min-width: 992px) {
  .img-with-text-7__image--desktop {
    display: block;
  }
}

.img-with-text-7__image--mobile {
  display: block;
}
@media (min-width: 992px) {
  .img-with-text-7__image--mobile {
    display: none;
  }
}

.img-with-text-7__heading {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 100%;
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
}
[dir=ltr] .img-with-text-7__heading {
  left: 50%;
}
[dir=rtl] .img-with-text-7__heading {
  right: 50%;
}