.img-with-text-11__sub-heading {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.5;
  padding: 2.5rem 0 3rem 0;
}

.img-with-text-11__trigger {
  padding: 2.7rem 0;
  border-top: 0.1rem solid rgba(var(--color-border));
}

.img-with-text-11__trigger:hover .img-with-text-11__text,
.img-with-text-11__trigger:focus-within .img-with-text-11__text,
.img-with-text-11__trigger[xo-active] .img-with-text-11__text {
  background-size: 100% 100%;
}
.img-with-text-11__trigger:hover .img-with-text-11__bullet,
.img-with-text-11__trigger:focus-within .img-with-text-11__bullet,
.img-with-text-11__trigger[xo-active] .img-with-text-11__bullet {
  opacity: 1;
}

.img-with-text-11__heading {
  display: flex;
  align-items: start;
  gap: 1.4rem;
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}

.img-with-text-11__bullet {
  display: inline-block;
  margin-top: 0.3rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: rgba(var(--color-overlay), 0.6);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  opacity: 0.22;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .img-with-text-11__bullet {
    margin-top: 0.5rem;
  }
}

.img-with-text-11__text {
  color: rgba(var(--color-foreground), 0.22);
  background-clip: text;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, rgba(var(--color-foreground), 1), rgba(var(--color-foreground), 1));
  background-size: 0 100%;
  transition: all 0.3s;
}
.img-with-text-11__text::after {
  content: ".";
  visibility: hidden;
}

.img-with-text-11__tabs-content,
.img-with-text-11__tabs-pane {
  height: 100%;
}

@media (min-width: 768px) {
  .img-with-text-11__tabs-content {
    padding-inline-end: 3.2rem;
  }
}
@media (min-width: 992px) {
  .img-with-text-11__tabs-content {
    padding-inline-end: 0;
  }
}

.img-with-text-11__tabs-pane .animate-image {
  opacity: 0;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
}
.img-with-text-11__tabs-pane[xo-active] .animate-image {
  opacity: 1;
}

.img-with-text-11__image {
  width: 100%;
  height: 100%;
}

.img-with-text-11__image--radius .animate-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.img-with-text-11__image--large {
  height: 100%;
}

.img-with-text-11__image--small {
  display: flex;
  align-items: end;
  justify-content: flex-end;
}
.img-with-text-11__image--small .animate-image {
  --max-width: 51.2rem;
}

.img-with-text-11__wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.7rem;
}
@media (min-width: 768px) {
  .img-with-text-11__wrap {
    gap: 2.7rem;
  }
}
@media (min-width: 992px) {
  .img-with-text-11__wrap {
    gap: 3.2rem;
  }
}
@media (min-width: 1400px) {
  .img-with-text-11__wrap {
    gap: 5rem;
  }
}