.img-banner-4 {
  position: relative;
  height: 100vh;
}
@media (min-width: 992px) {
  .img-banner-4 {
    height: 150vh;
  }
}
.img-banner-4__inner {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
[dir=ltr] .img-banner-4__inner {
  left: 0;
}
[dir=rtl] .img-banner-4__inner {
  right: 0;
}
.img-banner-4__pr {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.img-banner-4__pr-2 {
  width: 100%;
  height: 100%;
}
.img-banner-4__bg {
  width: 100%;
  height: 100%;
  background-image: var(--img-mobile, var(--img-desktop));
  background-size: cover;
  background-position: center;
  opacity: 1 !important;
}
@media (min-width: 768px) {
  .img-banner-4__bg {
    background-image: var(--img-desktop);
  }
}
.img-banner-4__bg svg {
  width: 100%;
  height: 100%;
}
.img-banner-4__image-wrap {
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
}
[dir=ltr] .img-banner-4__image-wrap {
  left: 50%;
}
[dir=rtl] .img-banner-4__image-wrap {
  right: 50%;
}
@media (min-width: 768px) {
  .img-banner-4__image-wrap {
    bottom: 0;
    top: unset;
    transform: translate(-50%, 0);
    width: auto;
  }
  [dir=ltr] .img-banner-4__image-wrap {
    left: 50%;
  }
  [dir=rtl] .img-banner-4__image-wrap {
    right: 50%;
  }
}
.img-banner-4__image-wrap .xo-image,
.img-banner-4__image-wrap .xo-image__placeholder,
.img-banner-4__image-wrap .placeholder-svg,
.img-banner-4__image-wrap img {
  width: 100%;
  height: 100%;
}
.img-banner-4__image-content {
  max-width: 37.5rem;
  height: 100%;
}
@media (min-width: 768px) {
  .img-banner-4__image-content {
    max-width: unset;
    width: 48.2rem;
  }
}
@media (min-width: 992px) {
  .img-banner-4__image-content {
    width: 60rem;
  }
}
.img-banner-4__image--desktop {
  display: none;
}
@media (min-width: 768px) {
  .img-banner-4__image--desktop {
    display: block;
  }
}
.img-banner-4__image--mobile {
  display: block;
}
@media (min-width: 768px) {
  .img-banner-4__image--mobile {
    display: none;
  }
}
.img-banner-4__container {
  width: 100%;
  height: 100%;
}
.img-banner-4__body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.img-banner-4__content {
  max-width: 141.4rem;
  margin: auto;
  width: 100%;
  height: 100%;
  padding-top: 8.4rem;
  padding-bottom: 3.2rem;
}
@media (min-width: 1200px) {
  .img-banner-4__content {
    padding-top: clamp(10rem, calc(9.125vw + 6.35rem), 17.3rem);
  }
}
.img-banner-4__parallax-item {
  position: absolute;
  z-index: 10;
}
.img-banner-4__parallax-item--1 {
  top: 50%;
}
[dir=ltr] .img-banner-4__parallax-item--1 {
  left: 0;
}
[dir=rtl] .img-banner-4__parallax-item--1 {
  right: 0;
}
.img-banner-4__parallax-item--2 {
  bottom: 20%;
}
[dir=ltr] .img-banner-4__parallax-item--2 {
  right: 0;
}
[dir=rtl] .img-banner-4__parallax-item--2 {
  left: 0;
}
.img-banner-4__parallax-image {
  width: var(--width-mobile);
  height: var(--height-mobile);
}
@media (min-width: 992px) {
  .img-banner-4__parallax-image {
    width: var(--width-desktop);
    height: var(--height-desktop);
  }
}