.img-with-text-9,
.img-with-text-9__grid {
  height: 100%;
}

.img-with-text-9__content {
  height: 100%;
  padding: 2.8rem 0;
  display: flex;
  flex-direction: column;
  gap: 0;
}
@media (min-width: 992px) {
  .img-with-text-9__content {
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .img-with-text-9__content--desktop-center {
    align-items: center;
    text-align: center;
  }
  .img-with-text-9__content--desktop-center .xo-text__heading {
    justify-content: center;
  }
}

@media (max-width: 991px) {
  .img-with-text-9__content--mobile-middle {
    justify-content: center;
  }
}

@media (max-width: 991px) {
  .img-with-text-9__content--mobile-bottom {
    justify-content: flex-end;
  }
}

.img-with-text-9__sub-heading,
.img-with-text-9__description {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  word-break: break-word;
  word-wrap: break-word;
}

.img-with-text-9__sub-heading {
  opacity: 0.5;
  padding-bottom: 1.1rem;
}

.img-with-text-9__description {
  opacity: 0.6;
  padding-top: 2.2rem;
}