.introduction-text {
  position: relative;
}

.introduction-text__head {
  padding-bottom: 2rem;
}
@media (min-width: 992px) {
  .introduction-text__head {
    padding-bottom: 3.2rem;
  }
}
@media (min-width: 1200px) {
  .introduction-text__head {
    padding-bottom: 4.8rem;
  }
}
@media (min-width: 1400px) {
  .introduction-text__head {
    padding-bottom: 6rem;
  }
}

.introduction-text__parallax {
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 10%;
}

.introduction-text__text-scroll {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.5 * 100%), transparent);
  background-repeat: no-repeat;
  background-image: linear-gradient(color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent), color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent));
  background-clip: text;
  background-size: inherit;
}

.introduction-text__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
}

.introduction-text__item,
.introduction-text__item-wrap {
  display: flex;
  gap: 2rem;
}

.introduction-text__item-wrap {
  padding-inline-end: 0;
}
@media (min-width: 992px) {
  .introduction-text__item-wrap {
    padding-inline-end: 3.2rem;
  }
}
@media (min-width: 1200px) {
  .introduction-text__item-wrap {
    padding-inline-end: 6.8rem;
  }
}
@media (min-width: 1400px) {
  .introduction-text__item-wrap {
    padding-inline-end: 10rem;
  }
}
@media (min-width: 1600px) {
  .introduction-text__item-wrap {
    padding-inline-end: 14.5rem;
  }
}

.introduction-text__item {
  position: relative;
  justify-content: space-between;
  padding: 2.5rem 0;
}
@media (min-width: 992px) {
  .introduction-text__item {
    padding: 3rem 0;
  }
}
.introduction-text__item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background: linear-gradient(90deg, color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent), color-mix(in srgb, rgba(var(--color-border)) calc(0.2 * 100%), transparent));
}

.introduction-text__text {
  max-width: 14rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.6 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: 500;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  word-break: break-word;
  word-wrap: break-word;
}
@media (min-width: 768px) {
  .introduction-text__text {
    font-size: calc(var(--font-body-scale) * 1.5rem);
    line-height: calc(1 + 0.42 / var(--font-body-scale));
  }
}

.introduction-text__number {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.6 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  word-break: break-word;
  word-wrap: break-word;
}
@media (min-width: 992px) {
  .introduction-text__number {
    padding-top: 1rem;
  }
}

.introduction-text__counter {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}

.introduction-text__image-wrap {
  max-width: 37.7rem;
}

.introduction-text__image {
  width: 100%;
  height: 100%;
}

.introduction-text__image--radius {
  border-radius: 2rem;
  overflow: hidden;
}

.introduction-text__image--desktop {
  display: none;
}
@media (min-width: 992px) {
  .introduction-text__image--desktop {
    display: block;
  }
}

.introduction-text__image--mobile {
  display: block;
}
@media (min-width: 992px) {
  .introduction-text__image--mobile {
    display: none;
  }
}