.product-carousel__media img {
  object-fit: contain;
}

.product-carousel__link {
  color: inherit;
  cursor: pointer;
}

.product-carousel__product-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.product-carousel__product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 768px) {
  .product-carousel__product-info {
    padding: 0 4.8rem;
  }
}
@media (min-width: 992px) {
  .product-carousel__product-info {
    padding: 0 7.2rem;
  }
}
@media (min-width: 1200px) {
  .product-carousel__product-info {
    padding: 0 10rem;
  }
}
@media (min-width: 1400px) {
  .product-carousel__product-info {
    padding: 0 15rem;
  }
}

.product-carousel__product-title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
}

.product-carousel__product-description {
  padding-top: 0.2rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.7 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  font-weight: 400;
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
}

.product-carousel__product-variant {
  padding-top: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .product-carousel__product-variant {
    gap: 1.6rem;
  }
}
.product-carousel__product-variant .xo-product-variant__top {
  justify-content: center;
}
.product-carousel__product-variant .xo-product-variant__inner-name,
.product-carousel__product-variant .xo-product-variant__top-name {
  padding-bottom: 0.8rem;
  color: rgba(var(--color-foreground), 0.5);
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: 500;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  text-transform: uppercase;
  justify-content: center;
}
.product-carousel__product-variant .xo-product-variant__value-selected {
  display: none;
}
.product-carousel__product-variant .xo-field-select-custom__label {
  text-transform: capitalize;
}

.product-carousel__product-price .xo-price__sale {
  align-items: center;
  gap: 0.4rem;
  padding: 0;
}
.product-carousel__product-price .xo-price__item {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 2rem);
  font-weight: 500;
  line-height: calc(1 + 0.05 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.02rem);
}
.product-carousel__product-price .xo-price__item--del {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.6 * 100%), transparent);
}

.product-carousel__buy-now {
  width: 100%;
}

@media (min-width: 768px) {
  .product-carousel__slide .product-carousel__product-info {
    opacity: 0;
  }
  .product-carousel__slide[xo-active]:not([xo-active=false]) .product-carousel__product-info {
    opacity: 1;
  }
}

.product-carousel__navigation {
  display: block;
}

.product-carousel__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}

[dir=ltr] .product-carousel__button--prev {
  left: 0;
}
[dir=rtl] .product-carousel__button--prev {
  right: 0;
}

[dir=ltr] .product-carousel__button--next {
  right: 0;
}
[dir=rtl] .product-carousel__button--next {
  left: 0;
}

.product-carousel__button--prev[xo-disabled],
.product-carousel__button--next[xo-disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.product-carousel__pagination {
  padding-top: 4rem;
}

.product-carousel__show-on-desktop {
  display: none;
}
@media (min-width: 768px) {
  .product-carousel__show-on-desktop {
    display: block;
  }
}

.product-carousel__show-on-mobile {
  display: block;
}
@media (min-width: 768px) {
  .product-carousel__show-on-mobile {
    display: none;
  }
}