.promo-banner {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.promo-banner--radius {
  border-radius: 2rem;
  overflow: hidden;
}

.promo-banner__content {
  height: 100%;
  position: relative;
  background: none;
}
.promo-banner__content::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--color-overlay-2), calc(var(--opacity) / 100));
  z-index: 1;
}
[dir=ltr] .promo-banner__content::after {
  left: 0;
}
[dir=rtl] .promo-banner__content::after {
  right: 0;
}

.promo-banner__button {
  width: 100%;
}
@media (min-width: 768px) {
  .promo-banner__button {
    width: fit-content;
  }
}
.promo-banner__button .xo-btn {
  width: 100%;
}

.promo-banner__wrapper {
  position: absolute;
  top: 0;
  z-index: 9;
  width: 100%;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
[dir=ltr] .promo-banner__wrapper {
  left: 0;
}
[dir=rtl] .promo-banner__wrapper {
  right: 0;
}
@media (min-width: 768px) {
  .promo-banner__wrapper {
    padding: 3.2rem;
  }
}
@media (min-width: 1200px) {
  .promo-banner__wrapper {
    padding: 3.8rem 4.3rem 4.5rem 4.3rem;
  }
}

.promo-banner__image .xo-image,
.promo-banner__image .xo-image__placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
}
.promo-banner__image img {
  width: 100%;
  height: 100%;
  will-change: transform;
  transition: all 0.5s ease;
}
.promo-banner__image .xo-image__placeholder {
  aspect-ratio: var(--xo-ratio-percent);
}
.promo-banner__image .placeholder-svg {
  width: 100%;
  height: 100%;
}

.promo-banner__image--desktop {
  display: none;
}
@media (min-width: 992px) {
  .promo-banner__image--desktop {
    display: block;
  }
}

.promo-banner__image--mobile {
  display: block;
}
@media (min-width: 992px) {
  .promo-banner__image--mobile {
    display: none;
  }
}

.promo-banner__link {
  height: 100%;
  width: 100%;
  display: flex;
}
.promo-banner__link:hover img, .promo-banner__link:focus-within img {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.promo-banner__wrapper--middle {
  height: 100%;
  align-items: start;
  justify-content: center;
}

.promo-banner__wrapper--middle.promo-banner__wrapper--right {
  height: 100%;
  align-items: end;
  justify-content: center;
}

.promo-banner__wrapper--bottom {
  height: 100%;
  align-items: start;
  justify-content: end;
}

.promo-banner__wrapper--bottom.promo-banner__wrapper--center {
  justify-content: end;
  align-items: center;
  text-align: center;
}

.promo-banner__wrapper--bottom.promo-banner__wrapper--right {
  justify-content: end;
  align-items: end;
  text-align: right;
}

.promo-banner__wrapper--center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.promo-banner__wrapper--right {
  justify-content: end;
  align-items: end;
  text-align: right;
}

.promo-banner__wrapper--modifier {
  height: 100%;
  justify-content: space-between !important;
}

.promo-banner__sub-title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 2rem);
  line-height: calc(1 + 0.05 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.02rem);
  word-break: break-word;
  word-wrap: break-word;
  padding-bottom: 2.4rem;
}

.promo-banner__label {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.5 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.7rem);
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.034rem);
  word-break: break-word;
  word-wrap: break-word;
}

.promo-banner__discount-value {
  padding-top: 0.2rem;
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}