.collection-list-slider__content {
  position: relative;
}
.collection-list-slider__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.9rem 2.8rem;
  color: inherit;
  background-color: color-mix(in srgb, rgba(var(--color-light-button)) calc(1 * 100%), transparent);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.collection-list-slider__item:hover {
  background-color: color-mix(in srgb, rgba(var(--color-accent)) calc(1 * 100%), transparent);
}
.collection-list-slider__image {
  width: 3.6rem;
  height: 3.6rem;
}
@media (min-width: 768px) {
  .collection-list-slider__image {
    width: 4.8rem;
    height: 4.8rem;
  }
}
.collection-list-slider__title {
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  word-break: break-word;
  word-wrap: break-word;
}
.collection-list-slider__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3.2rem 0 0 0;
}
@media (min-width: 1200px) {
  .collection-list-slider__navigation {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .collection-list-slider__navigation-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
  }
  [dir=ltr] .collection-list-slider__navigation-button--prev {
    right: calc(100% + 2rem);
  }
  [dir=rtl] .collection-list-slider__navigation-button--prev {
    left: calc(-100% - 2rem);
  }
  [dir=ltr] .collection-list-slider__navigation-button--next {
    left: calc(100% + 2rem);
  }
  [dir=rtl] .collection-list-slider__navigation-button--next {
    right: calc(-100% - 2rem);
  }
}
.collection-list-slider .button-slide--primary {
  background-color: color-mix(in srgb, rgba(var(--color-layer)) calc(1 * 100%), transparent);
}

.collection-list-slider--radius .collection-list-slider__item {
  border-radius: 10rem;
  overflow: hidden;
}
.collection-list-slider--radius .collection-list-slider__image {
  border-radius: 1.2rem;
  overflow: hidden;
}