.section-image-with-text-style-9 .xo-section {
  height: 100vh;
}

.xo-image-with-text-style-9,
.xo-image-with-text-style-9__bg,
.xo-image-with-text-style-9__container,
.xo-image-with-text-style-9__content {
  width: 100%;
  height: 100%;
}

.xo-image-with-text-style-9__container {
  position: relative;
  z-index: 9;
}