.xo-mega-menu-2 {
  padding: 3.5rem 0;
}
@media (min-width: 1200px) {
  .xo-mega-menu-2 {
    padding: 3.5rem 2.3rem;
  }
}

.xo-mega-menu-2__button {
  padding-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .xo-mega-menu-2__button {
    padding-top: 3.4rem;
  }
}

.xo-mega-menu-2__carousel {
  position: relative;
}

.xo-mega-menu-2__prev,
.xo-mega-menu-2__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  display: none;
}
@media (min-width: 992px) {
  .xo-mega-menu-2__prev,
  .xo-mega-menu-2__next {
    display: block;
  }
}

[dir=ltr] .xo-mega-menu-2__prev {
  left: 1rem;
}
[dir=rtl] .xo-mega-menu-2__prev {
  right: 1rem;
}
@media (min-width: 768px) {
  [dir=ltr] .xo-mega-menu-2__prev {
    left: 0;
  }
  [dir=rtl] .xo-mega-menu-2__prev {
    right: 0;
  }
}
@media (min-width: 1200px) {
  [dir=ltr] .xo-mega-menu-2__prev {
    left: 2.4rem;
  }
  [dir=rtl] .xo-mega-menu-2__prev {
    right: 2.4rem;
  }
}

[dir=ltr] .xo-mega-menu-2__next {
  right: 1rem;
}
[dir=rtl] .xo-mega-menu-2__next {
  left: 1rem;
}
@media (min-width: 768px) {
  [dir=ltr] .xo-mega-menu-2__next {
    right: 0;
  }
  [dir=rtl] .xo-mega-menu-2__next {
    left: 0;
  }
}
@media (min-width: 1200px) {
  [dir=ltr] .xo-mega-menu-2__next {
    right: 2.4rem;
  }
  [dir=rtl] .xo-mega-menu-2__next {
    left: 2.4rem;
  }
}

.xo-mega-menu-2__prev[xo-disabled],
.xo-mega-menu-2__next[xo-disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.xo-mega-menu-2__pagination {
  display: block;
  padding-top: 1.6rem;
}
@media (min-width: 992px) {
  .xo-mega-menu-2__pagination {
    display: none;
  }
}