.section-image-with-text-style-10 .xo-section {
  height: auto;
}
@media (min-width: 1200px) {
  .section-image-with-text-style-10 .xo-section {
    height: 100vh;
  }
}

.xo-image-with-text-style-10,
.xo-image-with-text-style-10__bg,
.xo-image-with-text-style-10__container,
.xo-image-with-text-style-10__content {
  width: 100%;
  height: 100%;
}