.shopify-policy__container {
  margin: auto;
  max-width: var(--xo-container-width, 1400px);
  padding: 11.5rem var(--container-gap, 2rem);
}
@media (min-width: 768px) {
  .shopify-policy__container {
    padding: 15rem var(--container-gap, 2rem);
  }
}
.shopify-policy__container h1 {
  font-family: var(--font-body-family);
  color: rgb(var(--color-foreground));
  font-weight: var(--font-heading-weight);
  font-size: calc(var(--font-heading-1-scale) * 4.5rem);
  line-height: calc(1 + 0.01 / var(--font-heading-1-scale));
  letter-spacing: calc(var(--font-heading-1-scale) * -0.18rem);
}
@media (min-width: 992px) {
  .shopify-policy__container h1 {
    font-size: calc(var(--font-heading-1-scale) * 6rem);
    letter-spacing: calc(var(--font-heading-1-scale) * -0.3rem);
    font-weight: var(--font-heading-weight);
  }
}
.shopify-policy__container h2 {
  font-family: var(--font-body-family);
  color: rgb(var(--color-foreground));
  font-weight: var(--font-heading-weight);
  font-size: calc(var(--font-heading-2-scale) * 2.4rem);
  line-height: calc(1 + 0.33 / var(--font-heading-2-scale));
  letter-spacing: calc(var(--font-heading-2-scale) * -0.096rem);
  padding-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .shopify-policy__container h2 {
    padding-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .shopify-policy__container h2 {
    font-weight: var(--font-heading-weight);
    font-size: calc(var(--font-heading-2-scale) * 4.2rem);
    line-height: calc(1 + 0.01 / var(--font-heading-2-scale));
    letter-spacing: calc(var(--font-heading-2-scale) * -0.21rem);
  }
}
.shopify-policy__container h3 {
  font-family: var(--font-body-family);
  color: rgb(var(--color-foreground));
  font-weight: var(--font-heading-weight);
  font-size: calc(var(--font-heading-3-scale) * 1.8rem);
  line-height: calc(1 + 0.77 / var(--font-heading-3-scale));
  letter-spacing: calc(var(--font-heading-3-scale) * -0.036rem);
}
@media (min-width: 992px) {
  .shopify-policy__container h3 {
    font-size: calc(var(--font-heading-3-scale) * 2.6rem);
    line-height: calc(1 + 0.23 / var(--font-heading-3-scale));
    letter-spacing: calc(var(--font-heading-3-scale) * -0.052rem);
  }
}
.shopify-policy__container h4 {
  font-family: var(--font-body-family);
  color: rgb(var(--color-foreground));
  font-weight: var(--font-heading-weight);
  font-size: calc(var(--font-heading-4-scale) * 1.7rem);
  line-height: calc(1 + 0.58 / var(--font-heading-4-scale));
  letter-spacing: normal;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .shopify-policy__container h4 {
    font-size: calc(var(--font-heading-4-scale) * 1.8rem);
    line-height: calc(1 + 0.5 / var(--font-heading-4-scale));
  }
}
.shopify-policy__container h5 {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  font-size: calc(var(--font-heading-5-scale) * 1.6rem);
  line-height: calc(1 + 0.68 / var(--font-heading-5-scale));
  letter-spacing: normal;
}
@media (min-width: 768px) {
  .shopify-policy__container h5 {
    font-size: calc(var(--font-heading-5-scale) * 1.8rem);
    line-height: calc(1 + 0.5 / var(--font-heading-5-scale));
  }
}
.shopify-policy__container h6 {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  font-size: calc(var(--font-heading-5-scale) * 1.5rem);
  line-height: calc(1 + 0.4 / var(--font-heading-5-scale));
  letter-spacing: normal;
}
@media (min-width: 768px) {
  .shopify-policy__container h6 {
    font-size: calc(var(--font-heading-5-scale) * 1.6rem);
    line-height: calc(1 + 0.5 / var(--font-heading-5-scale));
  }
}
.shopify-policy__container h1,
.shopify-policy__container h2,
.shopify-policy__container h3,
.shopify-policy__container h4,
.shopify-policy__container h5,
.shopify-policy__container h6 {
  margin: 1rem 0;
}
.shopify-policy__container p {
  margin: 0;
  margin-bottom: 1rem;
  font-family: var(--font-body-family);
  color: rgb(var(--color-foreground), 0.7);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.6rem);
  line-height: calc(1 + 0.62 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.016rem);
}
.shopify-policy__container p:first-child {
  margin-bottom: 0;
}
.shopify-policy__container em {
  display: block;
  margin: 0;
  padding: 3.3rem 0 3.8rem 0;
  font-family: var(--font-body-family);
  color: rgb(var(--color-foreground), 0.7);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.8rem);
  line-height: calc(1 + 0.55 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.036rem);
}
@media (min-width: 768px) {
  .shopify-policy__container em {
    font-size: calc(var(--font-body-scale) * 2rem);
    line-height: calc(1 + 0.4 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.04rem);
  }
}
@media (min-width: 992px) {
  .shopify-policy__container em {
    padding: 6.8rem 0 2.9rem 0;
  }
}
.shopify-policy__container blockquote {
  margin: 0;
  padding: 3rem 0 2rem 0;
  font-family: var(--font-body-family);
  color: rgb(var(--color-foreground), 0.7);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.8rem);
  line-height: calc(1 + 0.55 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.036rem);
}
@media (min-width: 768px) {
  .shopify-policy__container blockquote {
    font-size: calc(var(--font-body-scale) * 2rem);
    line-height: calc(1 + 0.4 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.04rem);
  }
}
@media (min-width: 992px) {
  .shopify-policy__container blockquote {
    padding: 6.4rem 0 3rem 0;
  }
}
.shopify-policy__container blockquote p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: var(--font-body-family);
  color: rgb(var(--color-foreground), 0.7);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.8rem);
  line-height: calc(1 + 0.55 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.036rem);
}
@media (min-width: 768px) {
  .shopify-policy__container blockquote p {
    font-size: calc(var(--font-body-scale) * 2rem);
    line-height: calc(1 + 0.4 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.04rem);
  }
}
.shopify-policy__container blockquote p:empty {
  padding-bottom: 0;
}
.shopify-policy__container strong {
  font-family: var(--font-body-family);
  color: rgb(var(--color-foreground), 1);
  font-size: calc(var(--font-body-scale) * 1.7rem);
  line-height: calc(1 + 0.58 / var(--font-body-scale));
}
@media (min-width: 768px) {
  .shopify-policy__container strong {
    font-size: calc(var(--font-body-scale) * 1.8rem);
    line-height: calc(1 + 0.5 / var(--font-body-scale));
  }
}
.shopify-policy__container ul[data-mce-fragment="1"] {
  margin: 0 0 2rem 0;
  padding-inline-start: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  opacity: 0.7;
}
.shopify-policy__container ul[data-mce-fragment="1"] li {
  font-family: var(--font-body-family);
  color: rgb(var(--color-foreground), 1);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.6rem);
  line-height: calc(1 + 0.62 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.016rem);
}
.shopify-policy__container ul,
.shopify-policy__container ol {
  margin: 0;
  padding-inline-start: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  list-style-position: inside;
  opacity: 0.7;
}
.shopify-policy__container ul li,
.shopify-policy__container ol li {
  font-family: var(--font-body-family);
  color: rgb(var(--color-foreground), 1);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.6rem);
  line-height: calc(1 + 0.62 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.016rem);
}
.shopify-policy__container table {
  margin: 2rem 0;
}
.shopify-policy__container span {
  overflow: hidden;
}
.shopify-policy__container img {
  width: 100%;
  border-radius: 1rem;
}
.shopify-policy__container a {
  color: inherit;
  text-decoration: underline;
}