.xo-heading-block {
  padding-top: var(--padding-top-mb);
  padding-bottom: var(--padding-bottom-mb);
}
@media (min-width: 768px) {
  .xo-heading-block {
    padding-top: var(--padding-top-dt);
    padding-bottom: var(--padding-bottom-dt);
  }
}

.xo-heading-block--center .xo-text__heading {
  justify-content: center;
}

.xo-heading-block--right .xo-text__heading {
  justify-content: end;
}

.xo-text-body {
  width: 100%;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  word-break: break-word;
  word-wrap: break-word;
  padding-top: var(--padding-top-mb);
  padding-bottom: var(--padding-bottom-mb);
}
@media (min-width: 768px) {
  .xo-text-body {
    font-size: calc(var(--font-body-scale) * 1.6rem);
    line-height: calc(1 + 0.4 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.016rem);
    padding-top: var(--padding-top-dt);
    padding-bottom: var(--padding-bottom-dt);
  }
}

.xo-text-body--left {
  text-align: left;
}

.xo-text-body--center {
  text-align: center;
}

.xo-text-body--right {
  text-align: right;
}