.video-feedback__grid {
  row-gap: 0;
}

.video-feedback__head {
  padding-bottom: 3.4rem;
}
@media (min-width: 992px) {
  .video-feedback__head {
    padding-bottom: 4rem;
  }
}
.video-feedback__head .xo-text__heading {
  justify-content: center;
  text-align: center;
}

.video-feedback__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.video-feedback__pagination {
  padding-top: 1rem;
}
@media (min-width: 992px) {
  .video-feedback__pagination {
    padding-top: 2.6rem;
  }
}

.video-feedback__navigation {
  padding-top: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.video-feedback__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-feedback__button--prev[xo-disabled],
.video-feedback__button--next[xo-disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.video-feedback__carousel {
  cursor: grab;
}
.video-feedback__carousel :has(xo-carousel-list[xo-dragging]) {
  cursor: grabbing;
}